<%= div_for article do %>
   <%= link_to article.title, article_path(article) %>
   <small><%= article.categories[0].name %></small>
   <% if article.owned_by? current_user %>
   
   <span class='actions'>
      <small><%= link_to "Edit", edit_article_path(article), "data-no-turbolink" => true %></small>
      <small><%= link_to "Delete", article,  method: :delete, data: { confirm: 'Are you sure?' }  %></small>
   <% end %>
   </span>
   <p class="small">
 <%= simple_format(truncate(strip_tags(article.body),escape: false, length: 300) { link_to "read more",article_path(article) } ) %>
   </p>
   <hr>
<% end %>
