<% provide(:title, "Categories") %>
<% if current_user.try(:admin?) %>
  <table class="table table-bordered table-hover table-condensed">
    <tr class="warning">
      <th>Category_id</th>
      <th>Category_name</th>
      <th>Category_created</th>
      <th>Category_updated</th>
      <th>Category Delete?</th>
    </tr>


  <% @categories.each do | category | %>

  <tr>
    <td><%= category.id %></td>
    <td><%= category.name %></td>
    <td><%= category.created_at %></td>
    <td><%= category.updated_at %></td>
    <td><%= link_to "delete", admin_destroy_category_path(category[:id]), method: :delete, data: {confirm: 'You sure?'} %></td>
  </tr>
  <% end %>
  </table>
  <div class="text-center"> <%= button_to "New", new_category_path, method: :get,:class=>"btn-sm btn-info" %></div>


<% else %>
<div class="text-center warning"><h1 class="page-header ">Only Admin user can edit category </h1></div>
<% end %>
