<footer class="footer">
   <small>
   <%= link_to "MyBlog",root_path %> is made with <a href="http://rubyonrails.org/">Ruby on rails</a>
   <%= image_tag("ruby.jpeg",size: "70", alt: "Ruby is awesome and pricy") %>
   </small>


    <!--
    <div id="footer">
    <p class="muted credit text-center"><%= link_to 'MyBlog',root_path %></p>
    </div>
    -->

  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "News", '#' %></li>
    </ul>
   </nav>

</footer>
