<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-inverse navbar-static-top" id="header">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="collapsibleMenu">
          <ul class="nav navbar-nav">
            <%#= link_to "New Article", new_article_path(@article,:format=>:js), remote: true,:id=>'new_post_link', "data-no-turbolink" => true %>
            <li><%= link_to "MyBlog", root_path %></li>
            <li><%= link_to "New Article", new_article_path, :id=>'new_post_link', :method => 'get', "data-no-turbolink" => true %></li>
            <% if signed_in? %>
             <li><%= link_to "Edit", edit_user_registration_path(current_user) %> </li>
             <li><%= link_to "Logout(#{current_user.email})", destroy_user_session_path, method: :delete %></li>
             <% if admin? %>
               <li><%= link_to "Users", users_path %></li>
             <% end %>
            <% else %>
             <li><%= link_to "Login", new_user_session_path %></li>
             <li><%= link_to "Register", new_user_registration_path %> </li>
            <% end %>
            <!-- rendering category -->
            <%= render 'layouts/category' %>
          </ul>
            <%= render 'layouts/search' %>
         </div>
       </div>
     </div>




  <div class="container"  id="main">
    <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
    <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
    <%= yield %>
  </div>


  <footer class="footer">
    <div id="footer">
      <p class="muted credit text-center"><%= link_to 'A Simple blog by ruby on rails 4.2.1',root_path %></p>
    </div>

    <nav>
      <ul>
        <li><%= link_to "About", '#' %></li>
        <li><%= link_to "Contact", '#' %></li>
        <li><%= link_to "News", '#' %></li>
      </ul>
     </nav>
  
  </footer>
</body>
</html>
