<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
 <div id="header">
 	<%= form_tag articles_path, :method =>'get' do %>
 	<p>
 		<%= text_field_tag :search, params[:search] %>
 		<%= submit_tag "Search", :name => nil %>
 	</p>
 	<% end %>
    <h1><%= link_to "MyBlog", root_path %></h1>
    
   
    
   
    
    
    <div id="user_bar">
      <% if signed_in? %>
        <%#= link_to "New Article", new_article_path(@article,:format=>:js), remote: true,:id=>'new_post_link', "data-no-turbolink" => true %> |
        <%= link_to "New Article", new_article_path(@article), :id=>'new_post_link', "data-no-turbolink" => true %> |

        <%= link_to "Edit Password", edit_user_registration_path(current_user) %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <%= session[:user_id] %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %> 

      <% end %>
    </div>
  </div>
  
    
    
  <div id="main">
    <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
    <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>
    <%= yield %>
  </div>

 <div id="footer">
   <font size=3 color="black">A Simple blog built for practicing ruby on rails(this is great? maybe^^;)</font>
 </div>


 
</body>
</html>
